{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{% trans %}admin.login.page.title{% endtrans %}{% endblock %}

{% block navigation %}{% endblock %}

{% block body_class %}login{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
    <h2 class="form-signin-heading">{{ 'admin.login.form.title'|trans }}</h2>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}"/>

    <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
    <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}"/>

    <div class="checkbox">
        <label for="remember_me">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            {{ 'security.login.remember_me'|trans }}</label>
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
</form>
{% endblock fos_user_content %}
