<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{% block title %}{% endblock %} - {% trans %}app.title{% endtrans %}</title>

            <!-- Bootstrap -->
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

            {% stylesheets 'bundles/madefcms/css/admin/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" role="document">
        {% block navigation %}
            <!-- Static navbar -->
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url('madef_cms_admin_home') }}">{% trans %}app.title{% endtrans %}</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% for entry in main_menu %}
                                {% if entry.role is not defined or is_granted(entry.role) %}
                                    <li class="
                                            {% if entry.route is defined and app.request.attributes.get('_route') == entry.route %}active{% endif %}
                                            {% if entry.children is defined %}dropdown{% endif %}
                                    ">
                                        {% if entry.children is defined %}
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ entry.name|trans({}, 'menu') }} <b class="caret"></b></a>
                                        {% else %}
                                            <a href="{{ url(entry.route) }}">{{ entry.name|trans({}, 'menu') }}</a>
                                        {% endif %}
                                        {% if entry.children is defined %}
                                            <ul class="dropdown-menu">
                                                {% for subentry in entry.children %}
                                                    {% if subentry.role is not defined or is_granted(subentry.role) %}
                                                        <li
                                                            class="{% if subentry.route is defined and app.request.attributes.get('_route') == subentry.route %}active{% endif %}"
                                                        ><a href="{{ url(subentry.route) }}">{{ subentry.name|trans({}, 'menu') }}</a>
        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% for entry in right_menu %}
                                {% if entry.role is not defined or is_granted(entry.role) %}
                                    <li class="
                                            {% if entry.route is defined and app.request.attributes.get('_route') == entry.route %}active{% endif %}
                                            {% if entry.children is defined %}dropdown{% endif %}
                                    ">
                                        {% if entry.children is defined %}
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ entry.name|trans({}, 'menu') }} <b class="caret"></b></a>
                                        {% else %}
                                            <a href="{{ url(entry.route) }}">{{ entry.name|trans({}, 'menu') }}</a>
                                        {% endif %}
                                        {% if entry.children is defined %}
                                            <ul class="dropdown-menu">
                                                {% for subentry in entry.children %}
                                                    {% if subentry.role is not defined or is_granted(subentry.role) %}
                                                        <li
                                                            class="{% if subentry.route is defined and app.request.attributes.get('_route') == subentry.route %}active{% endif %}"
                                                        ><a href="{{ url(subentry.route) }}">{{ subentry.name|trans({}, 'menu') }}</a>
        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        {% endblock %}
        <div class="container" role="main">
            {% block content %}
            {% endblock %}
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        {% javascripts '@MadefCmsBundle/Resources/public/js/admin/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
